<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="generate" href="/tabs/generate">
      <ion-icon aria-hidden="true" name="qr-code"></ion-icon>
      <ion-label>Generar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="link" href="/tabs/link">
      <ion-icon aria-hidden="true" name="scan"></ion-icon>
      <ion-label>Vincular</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inventory" href="/tabs/inventory">
      <ion-icon aria-hidden="true" name="cube"></ion-icon>
      <ion-label>Inventario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
